/*Crear un Layout de 3 filas / 2 columnas*/
body {
    margin: 0;
    overflow-y: auto;
}

.container {
    display: grid;
    height: 100vh;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /*justify-items: start end center stretch;*/
    justify-items: center;
    /*align-items: start end center stretch;*/
    align-items: center;
}

.item {
    border: 1px solid blue;
}
.item:nth-of-type(5) {
    background-color: green;
    align-self: start;
    justify-self: start;
}