/*Crear un Layout de 3 filas / 2 columnas*/
body {
    font-family: Arial;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 5px;
    justify-content: center; 
}

.item {
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    justify-items: center;
    padding: 10px;
}

.item img {
    max-width: 100%;
}

.level-1 {
    grid-row-end: span 3;
}
.level-2 {
    grid-row-end: span 2;
}
.level-3 {
    grid-row-end: span 1;
}